header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

main {
  grid-area: content;
}

footer {
  grid-area: footer;
}

body {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas: "header header" "aside  content" "footer footer";
  min-height: 100vh;
  margin: 0;
  border: 0;
  background-color: tomato;
}

.galera div img {
  width: 100%;
  height: 100%;
object-fit: cover;
}

.galera div:first-child {
  grid-area: span /2 /2;
  

}

main .galera {
  border: 1px solid rgb(6, 66, 154);
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  margin:solid 1px;
}


main .galera div {
  border: 1px solid #000;
  width:20vh ;
  height: 20vh;

  
}

@media screen and (max-width: 600px) {
  body {

    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 1fr 100px;
    grid-template-areas: "header" "aside" "content" "footer";
  }
}
